.sidebar-resize-handle {
  position: absolute;
  top: 0;
  right: -7.5px;
  width: 15px;
  height: 100%;
  cursor: ew-resize;
  z-index: 1;

  .resize-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 100%;
    background-color: #e5e5e5;
  }

  &:hover > .resize-inner {
    width: 3px;
  }

}

.sidebar-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
  .sidebar-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #f5f5f5;
    left: calc(var(--SidebarWidth) * -1);
    top: 0;
    z-index: 1;
    transition: left 0.3s ease-in-out;

    &.open {
      left: 0;
    }
  }


}

.main-sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: calc(var(--SidebarWidth) - (2 * 24px));
  min-width: calc(var(--SidebarWidth) - (2 * 24px));
  background-color: #f5f5f5;
  padding: 24px;

  h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }
  
  .main-sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 24px;

    .main-sidebar-icon {
      width: 18px;
      height: 18px;
      padding: 4px;
      border-radius: 25%;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        height: 100%;
        rotate: 45deg;
      }
    }
  }
}

.main-sidebar-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    color: #999;
  }

  .sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
    border: 1px solid #D7D7D7;

    &:hover {
      border: 1px solid #ADADAD;
    }

    &.active {
      border: 1px solid #737373;
      background-color: #e5e5e5;
    }
  
    .sidebar-item-icon {
      width: 32px;
      height: 32px;
      margin: 0 14px;
      background-color: #999;
    }

    .sidebar-item-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .sidebar-item-title {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
      }

      .sidebar-item-subtitle {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        color: #999;
      }

    }

  }
}
