.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fff;
  padding: 28px;
  overflow-y: scroll;

  h1 {
    font-size: 38px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 24px;
  }

  .main-content-container {
    min-width: 963px;
    max-width: 963px;
    margin: 0 auto;

    
    .complication-box {
      display: flex;
      flex-direction: column;
      gap: 16px;
      

      .complication-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 0px;

        .main-content-left { 
          display: flex;
          grid-area: 1 / 1 / 2 / 2; 
        }
  
        .main-content-right { 
          display: flex;
          grid-area: 1 / 2 / 2 / 3;
        }

      }

      .main-content-bottom { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 0px;
      }

      .complication-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        padding: 24px;

        h2 {
          font-size: 24px;
          font-weight: 600;
          margin: 0;
          margin-bottom: 24px;
        }

        .complication-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 0.8rem;
          background-color: #e5e5e5;
          padding: 12px;

          p {
            margin: 0;
          }
        }
      }

    }
    
  }

}