body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  margin: 0;
}

.App {
  height: 100vh;
}

.main-page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}